@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overscroll-behavior: none;
}

@layer base {
  :root {
    --primary: 255, 103, 32;
    --orange: 255, 103, 32;
    --secondary: 33, 152, 245;
    --muted: 245, 245, 245;
    --bkg: 255, 255, 255;
    --txt: 51, 65, 85;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --primary: 31, 31, 31;
      --orange: 255, 103, 32;
      --secondary: 33, 152, 245;
      --muted: 18, 18, 18;
      --bkg: 26, 26, 26;
      --txt: 245, 245, 245;
    }
  }
}

html,
body,
:root {
  height: 100%;
}
